system/system/priv-app/Velvet/Velvet.apk
system/system/priv-app/Velvet/oat/arm64/Velvet.odex
system/system/priv-app/GmsCore/oat/arm/GmsCore.odex
system/system/priv-app/GmsCore/oat/arm64/GmsCore.odex
system/system/app/Chrome/Chrome.apk
modem.img
